// input.native-input.sc-ion-input-md {
//     border-bottom: 1px solid #6be09a !important;
// }
.align-center{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.bottom-margin{
    margin-bottom: 20%;
}

ion-input{
    margin-bottom:5%;
    border-bottom: 1px solid black!important;
}
ion-label{
    margin-bottom: 15%;
}

ion-toggle{
    margin-bottom: 5%;
}

ion-content{
    background-color: whitesmoke;
}







