<!-- <ion-header>
  <ion-toolbar> -->
    <!-- <ion-title>loginsignup</ion-title> -->
  <!-- </ion-toolbar>
</ion-header> -->

<ion-content>
  <img src="../../assets/logo/albatross-logo.png" style="margin-left:10%;" width="300px" height="130px">
      <ion-card class="align-center">
        <ion-card-content>
          <ion-row>
            <ion-button fill="clear" size="small" class="text-center" (click)="switchToSignIn()"><ion-text color="dark">SignIn</ion-text></ion-button>
            <ion-button fill="clear" size="small" (click)="switchToSignUp()"><ion-text color="dark" class="ion-margin-left"><div style="margin-left: 15px;">SignUp</div></ion-text></ion-button>
        </ion-row>
    </ion-card-content>
    </ion-card>

    

<div class="ion-margin-top ion-margin-left ion-padding" *ngIf="flag">
  <ion-grid>
    <ion-label fill="clear" class="ion-margin-bottom" style="color:darkgrey">Username or email</ion-label>
  <ion-row class="ion-margin-left">
    
    <ion-icon color="success" name="person-outline" class="ion-margin-top"></ion-icon><ion-input class="border-top border-bottom" placeholder="Your email" [(ngModel)]="user.email"></ion-input>
  </ion-row>
  <ion-label fill="clear" class="ion-margin-top" style="color:darkgrey">Password</ion-label>
  <ion-row class="ion-margin-top ion-margin-left">
    <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon>
    <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
  </ion-row>

  <!-- <ion-row class="ion-margin-top ion-margin-left">
    <ion-item>
      <ion-label fill="clear" class="ion-margin-top" style="color:darkgrey">Choose Position</ion-label>
    <ion-select value="03" [(ngModel)]="position" (ionChange)="selectposition()">
      <ion-select-option value="teacher">Teacher</ion-select-option>
      <ion-select-option value="student">Student</ion-select-option>
    </ion-select>  
  </ion-item>
  </ion-row> -->
  
</ion-grid>
<ion-item class="ion-margin-top" slot="start" style="margin-right:15%;">
  <ion-label class="ion-margin-bottom" color="success" style="margin-bottom:10%;">Remind Me</ion-label>
  <ion-toggle slot="start" name="Kiwi" color="success"></ion-toggle>
  <ion-text class="ion-margin-right" style="margin-bottom:5%;"><a style="color: #146545">Forget?</a></ion-text>
</ion-item>
<!-- <ion-button expand="block" size="large" class="ion-padding-horizontal ion-margin-top" shape="round" color="success"><ion-text style="font-weight: lighter; font-style: normal;">Sign in</ion-text></ion-button> -->
</div>


<div class="ion-margin-top ion-margin-left ion-padding" *ngIf="!flag">
  <ion-grid>
    <ion-label fill="clear" class="ion-margin-bottom" style="color:darkgrey">Your Name</ion-label>
  <ion-row class="ion-margin-left">
    
    <ion-icon color="success" name="person-outline" class="ion-margin-top"></ion-icon><ion-input class="border-top border-bottom" placeholder="Your Name" [(ngModel)]="user.name"></ion-input>
  </ion-row>
  <ion-label fill="clear" class="ion-margin-top" style="color:darkgrey">Phone Number</ion-label>
  <ion-row class="ion-margin-top ion-margin-left">
    <ion-icon name="phone-portrait-outline" color="success" class="ion-margin-top"></ion-icon>
    <ion-input placeholder="Number" [(ngModel)]="user.mobilenumber"></ion-input>
  </ion-row>

  <ion-label fill="clear" class="ion-margin-bottom" style="color:darkgrey">Email</ion-label>
  <ion-row class="ion-margin-top ion-margin-left">
    <ion-icon name="mail-outline" color="success" class="ion-margin-top"></ion-icon>
    <ion-input placeholder="Email" [(ngModel)]="user.email"></ion-input>
  </ion-row>

  <ion-label fill="clear" class="ion-margin-bottom" style="color:darkgrey">Password</ion-label>
  <ion-row class="ion-margin-top ion-margin-left">
    <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon>
    <ion-input placeholder="Password" [(ngModel)]="user.password"></ion-input>
  </ion-row>
</ion-grid>
<ion-row class="ion-margin-top ion-margin-left">
  <ion-item>
    <ion-label fill="clear" class="ion-margin-top" style="color:darkgrey">Choose Position</ion-label>
  <ion-select value="03" [(ngModel)]="user.role" (ionChange)="selectposition()">
    <ion-select-option value="instructor">Instructor</ion-select-option>
    <ion-select-option value="student">Student</ion-select-option>
  </ion-select>  
</ion-item>
</ion-row>
<ion-item class="ion-margin-top" slot="start" style="margin-right:15%;" *ngIf="flag">
  <ion-label class="ion-margin-bottom" color="success" style="margin-bottom:10%;">Remind Me</ion-label>
  <ion-toggle slot="start" name="Kiwi" color="success" checked></ion-toggle>
  <ion-text class="ion-margin-right" style="margin-bottom:5%;"><a style="color: #146545">Forget?</a></ion-text>
</ion-item>
</div>
<ion-button expand="block" size="large" class="ion-padding-horizontal ion-margin-top" shape="round" color="success" *ngIf="flag" (click)="login()"><ion-text style="font-weight: lighter; font-style: normal;">Sign in</ion-text></ion-button>
<ion-button expand="block" size="large" class="ion-padding-horizontal ion-margin-bottom" shape="round" color="success" *ngIf="!flag" (click)="signUp()"><ion-text style="font-weight: lighter; font-style: normal;">Sign Up</ion-text></ion-button>


</ion-content>
