<ion-tabs>
<!----Will remain same for student and instructor--->


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <img src="../../assets/images/dashboard.png" width="30px" height="30px"/>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    
      <!----Render for only student---->
    <ion-tab-button tab="discover" *ngIf="currentUser.role=='student'">
      <!-- <ion-icon name="ellipse"></ion-icon> -->
     <img src="../../assets/images/search.png" width="30px" height="30px"/>
      <ion-label>Discover</ion-label>
    </ion-tab-button>


    <!-----Render for student and teacher----->
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline" size="large"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>



    <!------Render for student and teacher but change edit profile fields based on roles----->
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <!-----Render for only teacher------>
    <ion-tab-button tab="instructorlessonrequest" *ngIf="currentUser.role=='instructor'">
      <!-- <ion-icon name="ellipse"></ion-icon> -->
     <img src="../../assets/images/search.png" width="30px" height="30px"/>
      <ion-label>LessonRequest</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="instructoraccounts">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="Instructor-dashboard">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
      <img src="../../assets/images/dashboard.png" width="30px" height="30px"/>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>





