<!-- <p>
  studentfields works!
</p> -->


<ion-grid class="ion-no-margin">
  <ion-row>
    <ion-col size="2">
    </ion-col>
    <ion-col size="8">
      <img src="../../../assets/images/img4.png" width="250px" height="200px"/>
</ion-col>

</ion-row>
</ion-grid>

  <div class="ion-margin-left ion-padding">
    <ion-grid>
      <ion-label fill="clear" class="ion-margin-bottom"><ion-text color="dark">Name</ion-text><ion-icon name="lock-open-outline"></ion-icon>
      </ion-label>
    <ion-row class="ion-margin-left">
      <ion-col size="12">
      <ion-card>
      <ion-input></ion-input>
    </ion-card>
  </ion-col>
    </ion-row>
    <ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">TimeZone</ion-text><ion-icon name="lock-open-outline"></ion-icon></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
      <ion-input></ion-input>
    </ion-card>
  </ion-col>
    </ion-row>


    <ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">Language</ion-text><ion-icon name="lock-open-outline"></ion-icon></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
      <ion-input></ion-input>
    </ion-card>
  </ion-col>

    </ion-row>
    <ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">Handicap</ion-text><ion-icon name="lock-open-outline"></ion-icon></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
      <ion-input></ion-input>
    </ion-card>
  </ion-col>
    </ion-row>

    <ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">Areas of focus for lessons</ion-text><ion-icon name="lock-open-outline"></ion-icon></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
      <ion-input></ion-input>
    </ion-card>
  </ion-col>
   </ion-row>



    <ion-label fill="clear" class="ion-margin-top" style="color:darkgrey"><ion-text color="dark">Contact Information</ion-text></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="3">
        <ion-card>
        <ion-input placeholder="+1"></ion-input>
      </ion-card>
    </ion-col>
      <ion-col size="9">
      <ion-card>
      <ion-input placeholder="123-456-7890"></ion-input>
    </ion-card>
  </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" size="medium" class="ion-padding-horizontal ion-margin-top" color="success"><ion-text style="font-weight: lighter; font-style: normal;">Update Profile</ion-text></ion-button>
  <!-- <ion-button expand="block" size="large" class="ion-padding-horizontal ion-margin-top" shape="round" color="success"><ion-text style="font-weight: lighter; font-style: normal;">Sign in</ion-text></ion-button> -->
  </div>
