<!-- <ion-header>
  <ion-toolbar>
    <ion-title>lessonrequest</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-title>
    <ion-grid>
      <ion-row>
        <!-- <app-dayview></app-dayview> -->
        <ion-col size="4">
          <ion-icon name="arrow-back" color="success" class="ion-margin-top" (click)="goBack()"></ion-icon>
        </ion-col>
             <!-- <ion-input placeholder="Search For Instructors" class="ion-margin-bottom ion-margin-bottom"></ion-input>
             <ion-button fill="clear">
             <ion-icon name="search" color="success"></ion-icon>  
            </ion-button> -->
            <!-- <ion-text color="success" class="ion-text-start ion-no-margin"><h1>Lesson Request</h1></ion-text> -->
      </ion-row>
    </ion-grid>
  </ion-title>

  <!-- <app-lessonrequest></app-lessonrequest> -->

  <app-instructordescription></app-instructordescription>
</ion-content>
