<!-- <ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-header [showScheduleBar]="false" [SearchBarVisible]="false" [showBackButton]="true" [showTitle]="true" [title]="title"></app-header>
  <ion-grid>
  <ion-row>
    <ion-col size="4">
      <ion-text color="dark"><h5>Notifications</h5></ion-text>
    </ion-col>
  </ion-row>


    <!-- <ion-col size="4">
      <ion-text color="dark"><h5>Notifications</h5></ion-text>
    </ion-col> -->
    <ion-card>
      <ion-row>
        <ion-col size="8">
          <p>Allow Push Notifications</p>
        </ion-col>
        <ion-col size="4">
            <ion-toggle style="margin-top:10px;" name="kiwi" color="success"></ion-toggle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <p>Recommendations</p>
        </ion-col>
        <ion-col size="4">
            <ion-toggle style="margin-top:10px;" name="kiwi" color="success"></ion-toggle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <p>Special Communication & offers</p>
        </ion-col>
        <ion-col size="4">
            <ion-toggle style="margin-top:10px;" name="kiwi" color="success"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-grid>

<ion-grid>
  


    <!-- <ion-col size="4">
      <ion-text color="dark"><h5>Notifications</h5></ion-text>
    </ion-col> -->
    <ion-row>
      <ion-col size="8">
        <ion-text color="dark"><h5>Privacy</h5></ion-text>
      </ion-col>        
    </ion-row>
    <ion-card (click)="goToChangePassword()">
      <ion-row>
      <ion-col size="6">
        <p>Change Password</p>
      </ion-col>
      <ion-col size="6">
        <ion-icon name="chevron-forward-outline" color="success" class="ion-margin-top" style="margin-left:100px;"></ion-icon>
      </ion-col>
    </ion-row>
    </ion-card>

    <ion-row>
      <ion-col size="8">
        <ion-text color="dark"><h5>Other</h5></ion-text>
      </ion-col>        
    </ion-row>
    <ion-card>
      <ion-row>
      <ion-col size="8">
        <p>Activities</p>
      </ion-col>
      <ion-col size="4">
        <ion-toggle style="margin-top:10px;" name="kiwi" color="success"></ion-toggle>
      </ion-col>
    </ion-row>
    

    <ion-row>
      <ion-col size="8">
        <p>Help</p>
      </ion-col>
      <ion-col size="4">
        <ion-toggle style="margin-top:10px;" name="kiwi" color="success"></ion-toggle>
      </ion-col>
    </ion-row>
    </ion-card>

    <ion-card (click)="logout()">
      <ion-row>
        <ion-col size="8">
          <ion-text color="dark"><p>Logout</p></ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-grid>
</ion-content>
