ion-card-content{
    --ion-background-color:white;
}

.border-right{
    border-right: black;
}

.subheading{
    font-size: small;
}

ion-card-subtitle{
    --ion-font-size:small;
}

ion-icon{
    margin-top: 25px;
}

.space-between{
    margin-right: 5px;
}

ion-card{
    --ion-background-color:white;
}

.border-right{
    border-right: black;
}

.subheading{
    font-size: small;
}


.bold{
    font-weight: bold;
    // margin-left: 20px;
}