<ion-row>
  <ion-text class="ion-margin-start"><h6 class="bold">New Lesson Requests</h6></ion-text>
  </ion-row>
  
  <ion-row>
  <ion-col>
    <ion-card class="set-card-width">
      <ion-card-header class="ion-no-padding">
        <ion-card-subtitle class="ion-margin-top ion-margin-start bold subheading">
          <span class="awaydot"></span> Deadline
        </ion-card-subtitle>
        <ion-card-title class="ion-margin-start">
          <ion-text class="subheading"><p class="bold">Noah Elijah</p></ion-text>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content>
        <ion-text color="dark" class="ion-no-margin bold">
          The Basics of Typography
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ion-col>
  
  <ion-col>
    <ion-card class="set-card-width">
      <ion-card-header class="ion-no-padding">
        <ion-card-subtitle class="ion-margin-top ion-margin-start bold subheading">
          <span class="closedot"></span>Deadline
        </ion-card-subtitle>
        <ion-card-title class="ion-margin-start">
          <ion-text><p class="bold subheading">Liam Lucas</p></ion-text>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content>
        <ion-text color="dark" class="ion-no-margin bold">
          The Basics of Typography
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ion-col>
  
  </ion-row>
