<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card (click)="goToLessonRequest()">
        <ion-card-content>
          <ion-card-subtitle>
            <h6 style="font-size: small;">Online Lessons Available > OBS >Verified</h6>
          </ion-card-subtitle>
          <ion-card-title>
          <h1 class="ion-margin-start">Jessica Haines</h1>
        </ion-card-title>
          <ion-text>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            </p>
          </ion-text>
          <ion-button slot="end" style="margin-left: 160px;" color="success">$10 - $20</ion-button>
        </ion-card-content>
      </ion-card>
</ion-col>
</ion-row>


<ion-row>
<ion-col>
  <ion-card>
<ion-card-content>
<ion-card-subtitle>
  <h6 style="font-size: small;">Online Lessons Available > OBS >Verified</h6>
</ion-card-subtitle>
<ion-card-title>
<h1 class="ion-margin-start">Jessica Haines</h1>
</ion-card-title>
<ion-text>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  </p>
</ion-text>
<ion-button slot="end" style="margin-left: 160px;" color="success">$10 - $20</ion-button>
</ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>
