<ion-card class="ion-no-margin">
  <ion-card-header>
    
  </ion-card-header>

  <ion-card-content>
    <ion-row>
    <ion-button class="ion-no-shadow" size="large" color="light">
      <ion-text>
        <h6 class="small-size">Mon-Sun</h6>
        <p class="small-size">20 July to  26 july</p>
      </ion-text>
    </ion-button>
    <ion-button size="large" color="light">
      <ion-text>
        <ion-text>
          <h6 class="small-size">Mon-Sun</h6>
          <p class="small-size">13 July to  19 july</p>
        </ion-text>
      </ion-text>
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button size="large" color="light">
      <ion-text>
        <ion-text>
          <h6 class="small-size">Mon-Sun</h6>
          <p class="small-size">27 July to  2 Aug</p>
        </ion-text>
      </ion-text>
    </ion-button>
    <ion-button size="large" color="light">
      <ion-text>
        <ion-text>
          <h6 class="small-size">Mon-Sun</h6>
          <p class="small-size">6 july to 12 july</p>
        </ion-text>
      </ion-text>
    </ion-button>
  </ion-row>
  </ion-card-content>
</ion-card>