<!-- <ion-header>
  <ion-toolbar>
    <ion-title>changepassword</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-title>
    <ion-grid>
      <ion-row>
        <!-- <app-dayview></app-dayview> -->
        <ion-col size="2">
          <ion-icon name="arrow-back" color="success" class="ion-margin-top" (click)="goBack()"></ion-icon>
        </ion-col>
             <!-- <ion-input placeholder="Search For Instructors" class="ion-margin-bottom ion-margin-bottom"></ion-input>
             <ion-button fill="clear">
             <ion-icon name="search" color="success"></ion-icon>  
            </ion-button> -->
            <ion-text color="success" class="ion-text-start ion-no-margin"><h1>Change Password</h1></ion-text>
      </ion-row>
    </ion-grid>
  </ion-title>

  <div class="ion-margin-left ion-padding">
    <ion-grid>
      <ion-label fill="clear" class="ion-margin-bottom"><ion-text color="dark">Current Password</ion-text><ion-icon name="lock-open-outline"></ion-icon>
      </ion-label>
    <ion-row class="ion-margin-left">
      <ion-col size="12">
      <ion-card>
      <ion-input></ion-input>
    </ion-card>
  </ion-col>
    </ion-row>
    <ion-label fill="clear" class="ion-margin-top"><ion-text color="dark">New Password</ion-text><ion-icon name="lock-open-outline"></ion-icon></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
      <ion-input></ion-input>
    </ion-card>
  </ion-col>
    </ion-row>

    <ion-label fill="clear" class="ion-margin-top" style="color:darkgrey"><ion-text color="dark">Repeat Password</ion-text></ion-label>
    <ion-row class="ion-margin-left">
      <!-- <ion-icon color="success" name="lock-closed-outline" class="ion-margin-top"></ion-icon> -->
      <ion-col size="12">
      <ion-card>
      <ion-input></ion-input>
    </ion-card>
  </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" size="medium" class="ion-padding-horizontal ion-margin-top" color="success"><ion-text style="font-weight: lighter; font-style: normal;">Change Password</ion-text></ion-button>
</div>
</ion-content>
