<!-- <ion-header>
  <ion-toolbar>
    <ion-title>instructorlessonrequest</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <app-header [showScheduleBar]="false" [SearchBarVisible]="false" [showBackButton]="true"  [showTitle]="true" [title]="title"></app-header>
     
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->
<app-instructorlessons></app-instructorlessons>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>

