<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
    
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <img src="../../assets/logo/albatross-logo.png" width="200px" height="90px">


  <ion-grid>
    <ion-row>
      <ion-col>
      <div class="ion-text-center">
        <ion-text color="success"><h4>Get Started!</h4></ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    <div class="ion-text-center ion-margin-horizontal">
      <ion-text color="success"><h6 style="font-weight: normal; margin-top: 2px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, similique expedita ad in sit eveniet assum</h6></ion-text>
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/images/img1.png"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
      <img src="../../assets/images/img2.png"/>
    </div>
    </ion-slide>


    <ion-slide>
      <div class="slide">
      <img src="../../assets/images/img3.png"/>
    </div>
    </ion-slide>
  </ion-slides>
</ion-row>
<ion-row>
  <ion-col size="6">
  <div>
    <ion-button size="medium" class="ion-margin-top" shape="round" color="success" style="margin-left: 90px; width: 160px; height:50px;" (onSignIn)="setPosition($event)" (click)="navigateToDashboard()"><ion-text style="font-weight: bold; font-style: normal;">Go</ion-text></ion-button>
  </div>
</ion-col>
</ion-row>
  </ion-grid>
</ion-content>
