<ion-card>
  <!-- <ion-card-header>
    
  </ion-card-header> -->

  <ion-card-content>
    <ion-button class="ion-no-shadow" size="large" color="light">
      <ion-text>
        <h1 class="bold">24</h1>
        <p>fri</p>
      </ion-text>
    </ion-button>
    <ion-button size="large" color="light">
      <ion-text>
        <h1 class="bold">25</h1>
        <p>sat</p>
      </ion-text>
    </ion-button>
    <ion-button size="large" color="light">
      <ion-text>
        <h1 class="bold">26</h1>
        <p>sun</p>
      </ion-text>
    </ion-button>
    <ion-button size="large" color="light">
      <ion-text>
        <h1 class="bold">27</h1>
        <p>mon</p>
      </ion-text>
    </ion-button>
  </ion-card-content>
</ion-card>


