img{
    border-radius: 50%;
    border: 5px solid #146545;
}

a{
    text-decoration: none;
    color: black;
}

ion-icon{
    margin-right: 200px;
}

ion-content{
    --ion-background-color: whitesmoke;
}

ion-card{
    background: white;
}