img{
    border-radius: 50%;
    border: 5px none none
}

.bold{
    font-size: small;
    font-weight: bold;
}


ion-content{
    --ion-background-color:whitesmoke;
}

ion-card{
    background:white;
}